<form class="form-signup">
  <h2 class="form-signup-heading">Please sign up</h2>
  <label for="inputEmail" class="sr-only">Email address</label>
     <input name="email" [(ngModel)] = "user.username" type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
     <label for="inputPassword" class="sr-only">Password</label>
     <input name="password" [(ngModel)] = "user.password" type="password" id="inputPassword" class="form-control" placeholder="Password" required>
     <input name="input" [(ngModel)] = "user.name" type="name" id="inputName" class="form-control" placeholder="Name" required>

     <button class="btn btn-lg btn-primary btn-block" (click)="addUser();" type="button">Sign up</button>
</form>